<nav class="navbar navbar-lignt bg-primary">
    <button (click)="clickAddProject()" type="button" data-bs-toggle="modal" data-bs-target="#projectModal" class="btn btn-success">Add Project</button>
    <input class="form-control" type="text" name="nameSort" [(ngModel)]="nameSort" (ngModelChange)="Search()" placeholder="Search By Name">
</nav>

<table class="table" style="word-wrap: normal;">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col" style="width: 200px;">Description</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Category</th>
            <th scope="col" style="width: 200px;">Team</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of projectData | paginate: {itemsPerPage: 2, currentPage: page, totalItems: totalProjects}">
            <td>{{row.id}}</td>
            <td>{{row.p_name}}</td>
            <td style="width: 200px;">{{row.p_description}}</td>
            <td>{{row.p_start_date}}</td>
            <td>{{row.p_end_date}}</td>
            <td>{{row.p_category}}</td>
            <td style="width: 200px;">{{row.p_team}}</td>
            <td>
                <button (click)="onEditProject(row)" type="button" data-bs-toggle="modal" data-bs-target="#projectModal" class="btn btn-info">Edit</button>
                <button (click)="deleteProject(row)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<pagination-controls (pageChange)="page = $event"></pagination-controls>

  
<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="projectModalLabel">Add User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup] = "formValue">
                <div class="mb-3">
                    <label class="form-label">Project Name</label>
                    <input type="text" formControlName="p_name" class="form-control">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Project Description</label>
                    <input type="text" formControlName="p_description" class="form-control">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Start Date</label>
                    <input type="date" formControlName="p_start_date" class="form-control">
                  </div>
                <div class="mb-3">
                  <label class="form-label">End Date</label>
                  <input type="date" formControlName="p_end_date" class="form-control">
                </div>
                <div class="mb-3">
                  <label class="form-label">Category</label>
                  <select formControlName="p_category" class="form-control">
                    <option value="Beginner">Beginner</option>
                    <option value="Moderate">Moderate</option>
                    <option value="Advanced">Advanced</option>
                    <option value="Hard">Hard</option>
                  </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Team</label>
                    <select multiple="multiple" size="3" formControlName="p_team" class="form-control">
                        <option *ngFor="let choice of userData" 
                        [value]="choice.first_name + ' ' + choice.last_name" >
                            {{choice.first_name}} {{choice.last_name}} 
                        </option>
                    </select>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancelProject" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAddBtn" (click)="postProjectData()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdateBtn" (click)="editProject()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>