<nav class="navbar navbar-lignt bg-primary">
    <button (click)="clickAddUser()" type="button" data-bs-toggle="modal" data-bs-target="#userModal" class="btn btn-success">Add User</button>
    <label>Search By</label>
    <select style="width: 10cm;" name="searchType" [(ngModel)]="searchType" (ngModelChange)="Search()">
        <option value="first_name">First Name</option>
        <option value="last_name">Last Name</option>
        <option value="username">Username</option>
    </select>
    <input class="form-control" type="text" name="nameSort" [(ngModel)]="nameSort" (ngModelChange)="Search()" placeholder="Search By Name">
</nav>

<table class="table" style="width: 100%">
    <thead>
        <tr>
            <td scope="col">ID</td>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of userData | paginate: {itemsPerPage: 2, currentPage: page, totalItems: totalUsers}">
            <td>{{row.id}}</td>
            <td>{{row.first_name}}</td>
            <td>{{row.last_name}}</td>
            <td>{{row.username}}</td>
            <td>{{row.email}}</td>
            <td>{{row.password}}</td>
            <td>
                <button (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#userModal" class="btn btn-info">Edit</button>
                <button (click)="deleteUser(row)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="page = $event"></pagination-controls>
  
  <!-- Modal -->
  <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userModalLabel">Add User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup] = "formValue">
                <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input type="text" formControlName="first_name" class="form-control">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    <input type="text" formControlName="last_name" class="form-control">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" formControlName="username" class="form-control">
                  </div>
                <div class="mb-3">
                  <label class="form-label">Email address</label>
                  <input type="email" formControlName="email" class="form-control">
                </div>
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" formControlName="password" class="form-control">
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postUserData()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="editUser()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
  