/* You can add global styles to this file, and also import other style files */

nav a.active{
    color:blue;
}

nav a {
    padding: 10px 10px;
    margin-top: 15px;
    display: inline-block;
    background-color:bisque;
    border-radius: 5px;
  }
